<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>
            /WEB-INF/spring/*.xml
        </param-value>
    </context-param>

    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

    <filter>
        <filter-name>RequestLoggingFilter</filter-name> <!-- mandatory -->
        <filter-class>com.thoughtworks.picc.reverse.proxy.ReverseProxyFilter</filter-class> <!-- mandatory -->
    </filter>
    <filter-mapping>
        <filter-name>RequestLoggingFilter</filter-name> <!-- mandatory -->
        <url-pattern>/*</url-pattern> <!-- either url-pattern or servlet-name is mandatory -->
    </filter-mapping>

    <filter>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSessionRepositoryFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <display-name>Archetype Created Web Application</display-name>
    <servlet>
        <servlet-name>DefaultServelt</servlet-name>
        <servlet-class>com.victoryw.picc.DefaultServelt</servlet-class>
        <load-on-startup>0</load-on-startup>
    </servlet>



    <servlet-mapping>
        <servlet-name>DefaultServelt</servlet-name>
        <url-pattern>/servlet/*</url-pattern>
    </servlet-mapping>
</web-app>

